<ion-header>
  <ion-toolbar>
     <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
     </ion-buttons>
     <div slot="start">
        <img src="../assets/logo-tool-bar.svg" />
     </div>
     <ul slot="end">
        <li><img src="../assets/search.svg" /></li>
        <li><img src="../assets/plus-square.svg" /></li>
        <li><img src="../assets/user.svg" /></li>
        <li><img src="../assets/shopping-bag.svg" /></li>
     </ul>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
     <div class="tabs">
        <span class="tab">Aventura</span>
        <span class="tab">Biografia</span>
        <span class="tab">Ficção</span>
        <span class="tab">Novela</span>
        <span class="tab">Romance</span>
        <span class="tab">Suspense</span>
     </div>
     <section class="spotlight">
        <span class="spot-head">Destaque</span>
        <span class="spot-title">Harry Potter e a Ordem da Fênix</span>
     </section>
     <section class="genre">
        <h1>Mais Vendidos</h1>
        <div scrollX="true" class="carousel">
           <div class="carousel-item">
              <div class="cover" style="background-image: url('../assets/books/selling/book_1.jpg');">
              </div>
              <span>Klimt</span>
           </div>
           <div class="carousel-item">
              <div class="cover" style="background-image: url('../assets/books/selling/book_2.jpg');">
              </div>
              <span>Ilíada</span>
           </div>
           <div class="carousel-item">
              <div class="cover" style="background-image: url('../assets/books/selling/book_3.jpg');">
              </div>
              <span>Esopo</span>
           </div>
           <div class="carousel-item">
              <div class="cover" style="background-image: url('../assets/books/selling/book_4.jpg');">
              </div>
              <span>Fahrenheit 451</span>
           </div>
        </div>
     </section>
     <section class="genre">
        <h1>Lançamentos</h1>
        <div scrollX="true" class="carousel">
           <div class="carousel-item">
              <div class="cover" style="background-image: url('../assets/books/new/book_4.jpg');">
              </div>
              <span>Contra mim</span>
           </div>
           <div class="carousel-item">
              <div class="cover" style="background-image: url('../assets/books/new/book_2.jpg');">
              </div>
              <span>Os Crimes ABC</span>
           </div>
           <div class="carousel-item">
              <div class="cover" style="background-image: url('../assets/books/new/book_3.jpg');">
              </div>
              <span>Uma Terra Prometida</span>
           </div>
           <div class="carousel-item">
              <div class="cover" style="background-image: url('../assets/books/new/book_1.jpg');">
              </div>
              <span>O Menino Toupeira e...</span>
           </div>
        </div>
     </section>
     <section class="genre">
        <h1>Romance</h1>
        <div scrollX="true" class="carousel">
           <div class="carousel-item">
              <div class="cover" style="background-image: url('../assets/books/romance/book_1.jpg');">
              </div>
              <span>Orgulho e Preconceito</span>
           </div>
           <div class="carousel-item">
              <div class="cover" style="background-image: url('../assets/books/romance/book_3.jpg');">
              </div>
              <span>Como Eu Era Antes...</span>
           </div>
           <div class="carousel-item">
              <div class="cover" style="background-image: url('../assets/books/romance/book_4.jpg');">
              </div>
              <span>Um Perfeito Cavalheiro</span>
           </div>
           <div class="carousel-item">
              <div class="cover" style="background-image: url('../assets/books/romance/book_2.jpg');">
              </div>
              <span>Sempre</span>
           </div>
        </div>
     </section>
     <section class="genre">
        <h1>Fantasia</h1>
        <div scrollX="true" class="carousel">
           <div class="carousel-item">
              <div class="cover" style="background-image: url('../assets/books/fantasy/book_3.jpg');">
              </div>
              <span>O Hobbit</span>
           </div>
           <div class="carousel-item">
              <div class="cover" style="background-image: url('../assets/books/fantasy/book_1.jpg');">
              </div>
              <span>As Crônicas de Nárnia</span>
           </div>
           <div class="carousel-item">
              <div class="cover" style="background-image: url('../assets/books/fantasy/book_2.jpg');">
              </div>
              <span>A Guerra dos Tronos</span>
           </div>
           <div class="carousel-item">
              <div class="cover" style="background-image: url('../assets/books/fantasy/book_4.jpg');">
              </div>
              <span>A Sacerdotisa</span>
           </div>
        </div>
     </section>
  </div>
</ion-content>