@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Zilla+Slab:wght@500&display=swap');
* {
	margin: 0;
	padding: 0;
}

ion-menu-button {
	--color: #E8932E;
	--width: 24px;
	--height: 24px;
}

ion-toolbar {
	--background: var(--secondary);
	--min-height: 56px;
	--padding-end: 16px;
	--padding-start: 16px;
}

ion-toolbar div,
ion-toolbar div img {
	height: 24px;
}

ion-toolbar ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

ion-toolbar ul li {
	display: inline-block;
	margin-left: 16px;
	height: 24px;
	width: 24px;
}

ion-toolbar ul li img {
	height: 24px;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	min-height: 100%;
}

.tabs {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 6vh;
	overflow-x: auto;
}

.tab {
	font-size: 2.4vh;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	color: #FFF9D7;
	background-color: #E8932E;
	padding-left: 1.2vh;
	padding-right: 1.2vh;
	border-radius: 50px;
	margin-left: 16px;
}

.spotlight {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-top: 2vh;
	width: calc(100% - 32px);
	height: 30vh;
	background-image: url('/assets/books/spotlight-support.png'), url('/assets/books/spotlight.jpg');
	background-position: center;
	background-size: cover;
	border-radius: 45px;
	color: #FFF9D7;
}

.spot-head {
	width: 100%;
	padding-top: 2vw;
	padding-left: 10vw;
	font-size: 2.5vh;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	text-align: left;
	text-transform: uppercase;
}

.spot-title {
	width: 100%;
	padding-left: 5vw;
	padding-right: 5vw;
	padding-bottom: 2vw;
	font-size: 3.5vh;
	font-family: 'Zilla Slab', serif;
	font-weight: 500;
	text-align: center;
	width: 90%;
	letter-spacing: 3px;
	line-height: 5vh;
}

.genre {
	width: 100%;
	height: 35.5vh;
	margin-top: 3.5vh;
}

.genre h1 {
	height: 4vh;
	font-size: 3.5vh;
	font-family: 'Zilla Slab', serif;
	font-weight: 500;
	color: #000000;
	padding-left: 16px;
	margin-bottom: 1.5vh;
}

.carousel {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	height: 31vh;
	overflow-x: auto;
}

.carousel-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 30vh;
	width: 20vh;
	margin-left: 4vh;
}

.carousel-item:first-child {
	padding-left: 16px;
	margin-left: 0;
}

.carousel-item:last-child {
	padding-right: 16px;
}

.carousel-item .cover {
	width: 17vh;
	height: 25vh;
	background-image: url('/assets/books/spotlight-support.png'), url('/assets/books/spotlight.jpg');
	background-position: center;
	background-size: cover;
	border-radius: 10px;
}

.carousel-item span {
	font-size: 2.5vh;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	text-align: center;
	line-height: 2.5vh;
	width: 100%;
	height: 6vh;
	margin-top: 0.5vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (min-width: 500px) {
	ion-toolbar {
		--min-height: 112px;
		--padding-end: 24px;
		--padding-start: 24px;
	}
	ion-toolbar div,
	ion-toolbar div img {
		height: 48px;
	}
	ion-toolbar ul li {
		margin-left: 32px;
		height: 48px;
		width: 48px;
	}
	ion-toolbar ul li img {
		height: 48px;
	}
	ion-menu-button {
		font-size: 48px;
	}
}